//! profile-form-control
.profile-form-control {
  padding: 2rem 4rem;
}

@media screen and (min-width: 576px) {
  .profile-form-control {
    // padding: 2rem 12rem;
  }
}
@media screen and (min-width: 768px) {
  .profile-form-control {
    // padding: 3rem 8em;
  }
}
@media screen and (min-width: 992px) {
  .profile-form-control {
    padding: 4rem 16rem;
  }
}

.avatar-form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .avatar-image {
    overflow: hidden;
    margin-bottom: 2rem;
    img {
      object-fit: cover;
      height: 200px;
      width: 200px;
    }
  }
}
