<%- include('./includes/header.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>

  <div class="layout">
    <div class="sidebar"></div>
    <div class="main">
      <!-- main start -->
      <div class="container-main">
        <!-- body temperature information -->
        <form action="/covidstatus?type=bodytemp" method="post" class="covid-status-form">
          <div class="form-control form-control-main border border-success border-3">
            <h1 class="text-center mb-3">Đăng ký thông tin thân nhiệt</h1>
            <div class="row mb-3">
              <label for="input-body-temperature" class="col-sm-4 col-md-3 col-form-label">Nhiệt độ cơ thể:</label>
              <div class="col-sm-8 col-md-9 mb-3">
                <input type="text" class="form-control" id="input-body-temperature" placeholder="Nhập nhiệt độ của cơ thể" name="bodyTemperature">
              </div>
              <div class="form-button">
                <button type="submit" class="btn btn-success">Đăng ký</button>
              </div>
            </div>
          </div>
        </form>
        <!--Register for vaccination information -->
        <form action="/covidstatus?type=vaccination" method="post" class="covid-status-form">
          <div class="form-control form-control-main border border-success border-3">
            <h1 class="text-center mb-3">Đăng ký thông tin tiêm Vaccine</h1>
            <div class="row mb-3">
              <h5>Tiêm mũi:</h5>
              <div class="row form-group mb-3">
                <label for="date" class="col-sm-4 col-md-3 col-form-label">Ngày tiêm vaccine:</label>
                <div class="col-sm-8 col-md-9">
                  <div class="input-group date" id="datepicker1">
                    <input type="text" class="form-control" placeholder="01/01/2021">
                    <span class="input-group-append">
                      <span class="input-group-text bg-white d-block">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-button">
                <button type="submit" class="btn btn-success">Đăng ký</button>
              </div>
            </div>
          </div>
        </form>

        <!--Register for vaccination information -->
        <form action="/covidstatus?type=positive" method="post" class="covid-status-form">
          <div class="form-control form-control-main border border-success border-3">
            <h1 class="text-center mb-3">Đăng ký thông tin dương tính với covid</h1>
            <div class="row mb-3">
              <div class="row form-group mb-3">
                <label for="date" class="col-sm-4 col-md-3 col-form-label">Ngày phát hiện dương tính:</label>
                <div class="col-sm-8 col-md-9">
                  <div class="input-group date" id="datepicker2">
                    <input type="text" class="form-control" placeholder="01/01/2021">
                    <span class="input-group-append">
                      <span class="input-group-text bg-white d-block">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-button">
                <button type="submit" class="btn btn-success">Đăng ký</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- table -->
      <%- include('./includes/footer.ejs') %>
    </div> <!-- main end -->
  </div> <!-- layout -->
</body>