<%- include('./includes/header.ejs') %>

<body>
  <div class="layout">
    <div class="sidebar"></div>
    <div class="main">
      <!-- main begin -->
      <h1><%= error %></h1>
    </div> <!-- main end -->
  </div> <!-- layout -->
</body>