<%- include('./includes/header.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>

  <div class="layout">
    <div class="sidebar"></div>
    <div class="main">
      <!-- main begin -->
      .form-control

      <%- include('./includes/footer.ejs') %>
    </div> <!-- main end -->
  </div> <!-- layout -->
</body>