.layout {
  .container-main {
    padding: 0.5rem 1rem;
  }
  @media screen and (min-width: 576px) {
    .container-main {
      padding: 1rem 2rem;
    }
  }
  @media screen and (min-width: 768px) {
    .container-main {
      padding: 2rem 4rem;
    }
  }

  .form-control-main {
    padding: 1.5rem;
  }
}
