.layout {
  .container-main {
    min-height: 100vh;
    width: 100%;
    padding: 0.5rem 1rem;
  }
  @media screen and (min-width: 576px) {
    .container-main {
      padding: 1rem 2rem;
    }
  }
  @media screen and (min-width: 768px) {
    .container-main {
      padding: 2rem 4rem;
    }
  }

  //! form-control-main
  .form-control-main {
    padding: 1.5rem;
  }
  //! mobile-first-defaut
  @media screen and (min-width: 576px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 992px) {
  }
  @media screen and (min-width: 1200px) {
  }
  @media screen and (min-width: 1400px) {
  }
  
}

//! WRAP-CONTROL-FORM
.wrap-form-control {
  padding: 1rem .5rem;
}

@media screen and (min-width: 768px) {
  .wrap-form-control {
    padding: 1.5rem 6rem;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}

//! __FONT__
.layout {
  .container-main {
    h1 {
      font-size: 1.5rem;
    }
    @media screen and (min-width: 576px) {
      h1 {
        font-size: 1.5rem;
      }
    }
    @media screen and (min-width: 768px) {
      h1 {
        font-size: 1.75rem;
      }
    }
    @media screen and (min-width: 992px) {
      h1 {
        font-size: 1.95rem;
      }
    }
    @media screen and (min-width: 1200px) {
      h1 {
        font-size: 2.05rem;
      }
    }
  }
}
